<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Create a Team and Heroes!</h1>

  <form action="/" method="POST">
    <label for="team[name]">Team Name:</label>
    <input type="text" name="team[name]" />

    <label for="team[motto]">Team Motto:</label>
    <input type="text" name="team[motto]" />
    <br>

    <h2>Hero 1</h2>

    <label for="members[][name]">Hero's Name:</label>
    <input id="member1_name" type="text" name="members[][name]" />

    <label for="members[][power]">Hero's Power:</label>
    <input id="member1_power" type="text" name="members[][power]" />

    <label for="members[][bio]">Hero's Biography:</label>
    <input id="member1_bio" type="text" name="members[][bio]" />
    <br>

    <h2>Hero 2</h2>

    <label for="members[][name]">Hero's Name:</label>
    <input id="member2_name" type="text" name="members[][name]" />

    <label for="members[][power]">Hero's Power:</label>
    <input id="member2_power" type="text" name="members[][power]" />

    <label for="members[][bio]">Hero's Biography:</label>
    <input id="member2_bio" type="text" name="members[][bio]" />
    <br>

    <h2>Hero 3</h2>

    <label for="members[][name]">Hero's Name:</label>
    <input id="member3_name" type="text" name="members[][name]" />

    <label for="members[][power]">Hero's Power:</label>
    <input id="member3_power" type="text" name="members[][power]" />

    <label for="members[][bio]">Hero's Biography:</label>
    <input id="member3_bio" type="text" name="members[][bio]" />
    <br>

    <input type="submit" value="submit" />

  </form>
  
</body>
</html>
